@font-face {
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  font-family: "goldfish";
  src: url("assets/fonts/goldfish.eot"), url("assets/fonts/goldfish.woff") format("woff"), url("assets/fonts/goldfish.ttf") format("truetype"), url("assets/fonts/goldfish.svg#goldfish") format("svg"); }

* {
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box; }

html {
  font-family: 'Helvetica';
  color: #eee;
  background-color: #222; }
